flow
[{"id":"443f239b.ae649c","type":"inject","z":"993c7c.e0c7b388","name":"","topic":"","payload":"","payloadType":"date","repeat":"50","crontab":"","once":false,"x":190,"y":80,"wires":[["b5b8ab0f.3f9cc8"]]},{"id":"b5b8ab0f.3f9cc8","type":"http request","z":"993c7c.e0c7b388","name":"","method":"GET","ret":"txt","url":"192.168.118.11/8427/8429","tls":"","x":150,"y":214,"wires":[["cd49dd2d.2ca43"]]},{"id":"cd49dd2d.2ca43","type":"html","z":"993c7c.e0c7b388","name":"","tag":"tr td","ret":"text","as":"single","x":272,"y":138,"wires":[["ba8e4d0.f87ebb"]]},{"id":"43c5f02a.30d48","type":"debug","z":"993c7c.e0c7b388","name":"","active":false,"console":"false","complete":"false","x":600,"y":75,"wires":[]},{"id":"f283baf3.7e01f8","type":"string-split","z":"993c7c.e0c7b388","name":"","source_object":"msg","source_property":"","target_object":"msg","target_property":"","split_on":" ","x":523,"y":138,"wires":[["43c5f02a.30d48","de5ae284.004f1","bd5e1621.a52438"]]},{"id":"ba8e4d0.f87ebb","type":"string","z":"993c7c.e0c7b388","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":388,"y":137,"wires":[["f283baf3.7e01f8"]]},{"id":"de5ae284.004f1","type":"function","z":"993c7c.e0c7b388","name":".payload[8]","func":"var newMsg = { payload: msg.payload[8] };\n \n// Zurückgeben der Nachricht\nreturn newMsg;","outputs":1,"noerr":0,"x":460,"y":266,"wires":[["8bdc786a.35f7f8","420a88e3.74ab78","e3d265f0.386768","4da8ae61.98825"]]},{"id":"8bdc786a.35f7f8","type":"debug","z":"993c7c.e0c7b388","name":"","active":true,"console":"false","complete":"false","x":649,"y":260,"wires":[]},{"id":"bd5e1621.a52438","type":"function","z":"993c7c.e0c7b388","name":".payload[16]","func":"var newMsg = { payload: msg.payload[16] };\n \n// Zurückgeben der Nachricht\nreturn newMsg;","outputs":1,"noerr":0,"x":415,"y":514,"wires":[["cc12d74a.c905b8","abc36830.54e8f8","2108780b.b72228","bd190d25.f71"]]},{"id":"420a88e3.74ab78","type":"emoncms","z":"993c7c.e0c7b388","name":"Emoncms","emonServer":"e8c753ae.b7f05","nodegroup":"","x":649,"y":313,"wires":[]},{"id":"cc12d74a.c905b8","type":"emoncms","z":"993c7c.e0c7b388","name":"Emoncms","emonServer":"e8c753ae.b7f05","nodegroup":"","x":602,"y":509,"wires":[]},{"id":"abc36830.54e8f8","type":"debug","z":"993c7c.e0c7b388","name":"","active":true,"console":"false","complete":"false","x":609,"y":462,"wires":[]},{"id":"e3d265f0.386768","type":"ui_chart","z":"993c7c.e0c7b388","name":"","group":"3471cbfc.180504","order":2,"width":"","height":"","label":"Sole Eingang","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":659,"y":359,"wires":[[],[]]},{"id":"2108780b.b72228","type":"ui_chart","z":"993c7c.e0c7b388","name":"","group":"3471cbfc.180504","order":4,"width":"","height":"","label":"Sole Ausgang","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":616,"y":545,"wires":[[],[]]},{"id":"4da8ae61.98825","type":"ui_gauge","z":"993c7c.e0c7b388","name":"Gauge","group":"3471cbfc.180504","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-10","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":684,"y":393,"wires":[]},{"id":"bd190d25.f71","type":"ui_gauge","z":"993c7c.e0c7b388","name":"Gauge","group":"3471cbfc.180504","order":3,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-10","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":649,"y":589,"wires":[]},{"id":"e8c753ae.b7f05","type":"emoncms-server","z":"","server":"http://emoncms.org","name":""},{"id":"3471cbfc.180504","type":"ui_group","z":"","name":"Wärmepumpe","tab":"57c7cbdb.c58ff4","disp":true,"width":"6"},{"id":"57c7cbdb.c58ff4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
